body { padding: 0.75em; background-color: "ghostwhite"; border: 1px solid #CCC; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
b { font-weight: bold; }
p { margin-top: 0.9em; margin-bottom: 0.9em; }
select[multiple] { width: 100%; height: 8em; }
h2 { margin-top: 0.4em; font-weight: bold; font-size: 1.2em; }

TR { vertical-align: top; }
TD A { font-size: 0.8em; text-decoration: none; }

li { list-style-type: disc; margin-left: 20px; }

.hidden {
	display:none;
}
.delete{
	font-weight: bold;
	color: darkred;
	padding-left: 1em;
}